<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 70px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/owners/<%=current_owner.id%>">Taco Bomb! <%=current_owner.name%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/menu_item_create">Create Menu Item</a>
        </li>
        <li>
          <a href="#">Some BIG TACO DATA</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div style="margin-top: 70px;">
<h1>list all hanging orders have a header with links to other see /customers / menu items / all orders/ home/</h1>
<a href="/logout">Log Out</a>


</div>
