<h1>Owners Salse landing page full of pictures and invitations to sign up. Also a submit info form for sales team to contact
</h1>
<a href="/login">Log In</a>
<p>
  Note there is only a log in. The intent is that each Franchise owner will conatact a sales rep or the founder of taco bomb and will be set up with the software and other things needed for the taco bomb franchise. This is also how I chose to learn and practice ways of building user roles. 
    <%=  %>
  <% end
</p>
