<h1>THANK YOU!!!!</h1>
<a href="/logout"><img src="http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=explosion" alt="Thank you for using taco bomb!" style="heigth: 100%; width: 100%;"/></a>
