<!-- have a header with order button and running total of order -->

<!-- menu page
    must render to show_order page  listing the menu items / button to submit order / button to go back to menu
      order button
          must add menu_items to order
      order reset
          must set order.total to 0 and clear all menu_items from order

      list menu_items and their img description price and total prepped for the night

      menu_item add button
              have to increment order.total by menu_item.price
              have to decrement preped menu_items by 1 for each added
              if prepped amount = 0 don't show the add button show a "sold out" msg.
      running total at the top of the page -->


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="menu-nav col-sm-12 col-xs-12" style="background-color: yellow;">
      <div id="total-and-buy" class="">
        <button type="submit" name="button">Order</button>
      </div>
      <div id="menu-nav-img"class="">
        <span>a bunch of stuff</span>
      </div>
      <div id="total-price" class="">
        <h1>$22</h1>
      </div>
    </div>
  </div>
</nav>


<div class="wrapper clearfix">
  <div class="list-group" style="background-color: red;">
   <!-- list a menu item -->
    <div class="list-group-item col-lg-8 col-sm-12">
      <section id="menu-item" class"col-sm-12 first shadow">
        <figure>

          <figcaption>
            <span class="col-lg-2 col-xs-10 col-sm-10">Description of the yummy tacothe doais the taco is so good that asdfdgfpasdhf</span>
            <span class="badge col-lg-2 col-xs-2 col-sm-2">22 :left</span>
          </figcaption>
        </figure>
       </section>
     </div>
   </div>
</div>
