<!-- have a header with order button and running total of order -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="menu-nav col-sm-12 col-xs-12" style="background-color: yellow;">
      <div id="total-and-buy" class="">
        <button type="submit" name="button">Order</button>
      </div>
      <div id="menu-nav-img"class="">
        <span>a bunch of stuff</span>
      </div>
      <div id="total-price" class="">
        <h1>$22</h1>
      </div>
    </div>
  </div>
</nav>


<div class="wrapper clearfix">
  <div class="list-group" style="background-color: red;">
   <!-- list a menu item -->
    <div class="list-group-item col-lg-8 col-sm-12">
      <section id="menu-item" class"col-sm-12 first shadow">
        <figure>

          <figcaption>
            <span class="col-lg-2 col-xs-10 col-sm-10">Description of the yummy tacothe doais the taco is so good that asdfdgfpasdhf</span>
            <span class="badge col-lg-2 col-xs-2 col-sm-2">22 :left</span>
          </figcaption>
        </figure>
       </section>
     </div>
   </div>
</div>
