<div class="jumbotron" style="background-color: #e68c21;">
  <div class="container">
    <div class="text-center" style="margin-bottom: 5px;"><h1>Taco Bomb!</h1></div>
    <span><a href="/singup" class="col-xs-6 col-xs-push-6 text-right"><h3>Sign Up</h3></a>
    <a href="/login" class="col-xs-6 col-xs-pull-6"><h3>Log In</h3></a></span>
  </div>
</div>
<div class="">

</div>
