<div class="jumbotron" style="background-color: #e68c21;">
  <div class="container">
    <div class="text-center" style="margin-bottom: 5px;">
      <h1 style="color: white;">Taco Bomb!</h1>
    </div>
    <span>
      <a href="/customers/login" class="btn btn-default btn-login">Log in</a>
      <a href="/customers/signup" class="btn btn-default btn-register">Sign up</a>
    </span>
  </div>
</div>
<div class=""></div>
<h2>Amazing tacos at the push of a button!</h2>
<p>
  This is a landing page about how awesome it could be to just bust out your phone, click the food you want, and tacos show up! Like boom!
</p>
<p>
  <a href="/owners/welcome">Own you own Taco Bomb Franchise... WHAAAT?</a>
</p>
